/* .dvvd{
    background-image: linear-gradient(270deg, var(#2f57ef) 0%, var(#b966e7) 100%) ;
} */

/* .heading-part{
    background-image: linear-gradient(to top,black,rgba(0, 0, 0, 0)), url(https://rainbowit.net/html/histudy/assets/images/bg/bg-image-22.jpg);
    background-repeat: no-repeat;
    
} */